*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1a1a;
}



.calculator-grid{
    border: 2px solid red;
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px , auto) repeat(5, 100px);
}


.calculator-grid > button{
    border: none;
    outline: none;
    background-color: #2c2c2c;
    color: #fff;
    border: 1px solid white;
    font-size: 2rem;
    cursor: pointer;
}

.calculator-grid > button:hover{
    background-color: #111;
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.8rem;
    background-color: #ffffff;
    font-size: 2rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}