*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction:column;
    gap: 1rem;
    background-color:#111;
    border-radius: 12px;
    color: #fff;
    padding: 2rem;
}

button{
    padding: 0.8rem;
    border: none;
    background-color: #252525;
    color: #fff;
}