*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    padding: 0.8rem 1rem;
    border: none;
    background-color: #252525;
    color: #fff;
    border-radius: 50%;
}

.output{
    color: #fff;
    display: flex;
    gap: 2rem;
}